# Normally, DLLs, OBJs, EXEs, and LIBs would be ignored, but we kinda need them for
# Simplex and for being graded

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# Other stuff to make commits smaller
.vs/
Z_DELETE/
